In [1]:
import pandas as pd

In [2]:
y = pd.Period('2016')         # creates an yearly time period object
y

Period('2016', 'A-DEC')

In [3]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_delta',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [4]:
y.start_time                                 #starting time of this object

Timestamp('2016-01-01 00:00:00')

In [5]:
y.end_time                                   #ending time of this object

Timestamp('2016-12-31 23:59:59.999999999')

In [6]:
m = pd.Period('2011-1', freq = 'M')            # creates a monthly time period object
m

Period('2011-01', 'M')

In [7]:
m.start_time

Timestamp('2011-01-01 00:00:00')

In [8]:
m.end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [9]:
m + 1                                         # it will change the value of the month object to the next month

Period('2011-02', 'M')

In [10]:
d = pd.Period('2016-2-28', freq = 'D')            # creates a daily time period object
d

Period('2016-02-28', 'D')

In [11]:
d + 1                                        # it will change the value of the month object to the next date

Period('2016-02-29', 'D')

In [12]:
h = pd.Period('2016-2-28 23:00:00', freq = 'H')            # creates a hourly time period object
h

Period('2016-02-28 23:00', 'H')

In [13]:
h.start_time

Timestamp('2016-02-28 23:00:00')

In [14]:
h.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [15]:
h + 1                                        # it will change the value of the month object to the next date

Period('2016-02-29 00:00', 'H')

In [16]:
h + pd.offsets.Hour(2)                       # I don't understand this

Period('2016-02-29 01:00', 'H')

In [17]:
h-6

Period('2016-02-28 17:00', 'H')

In [18]:
h + pd.offsets.Hour(5)

Period('2016-02-29 04:00', 'H')

In [20]:
q = pd.Period('2021Q1')
q

Period('2021Q1', 'Q-DEC')

In [21]:
q.start_time

Timestamp('2021-01-01 00:00:00')

In [22]:
q.end_time

Timestamp('2021-03-31 23:59:59.999999999')

In [23]:
q + 1

Period('2021Q2', 'Q-DEC')

In [30]:
q = pd.Period('2021Q1', freq = 'Q-JAN')            # in case of different  friscal year which is Feb-Janl;
q

Period('2021Q1', 'Q-JAN')

In [31]:
q2 = pd.Period('2022Q2', freq = 'Q-JAN')
q2

Period('2022Q2', 'Q-JAN')

In [32]:
q2-q

In [26]:
q.asfreq('M', how = "start")

Period('2020-02', 'M')

In [37]:
idx = pd.period_range('2015', '2021', freq = 'Q')
idx

PeriodIndex(['2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1', '2016Q2',
             '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3', '2017Q4',
             '2018Q1', '2018Q2', '2018Q3', '2018Q4', '2019Q1', '2019Q2',
             '2019Q3', '2019Q4', '2020Q1', '2020Q2', '2020Q3', '2020Q4',
             '2021Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [38]:
idx[0].start_time                                        # normal quarterly calendar

Timestamp('2015-01-01 00:00:00')

In [39]:
idx = pd.period_range('2015', '2021', freq = 'Q-JAN')
idx

PeriodIndex(['2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1',
             '2017Q2', '2017Q3', '2017Q4', '2018Q1', '2018Q2', '2018Q3',
             '2018Q4', '2019Q1', '2019Q2', '2019Q3', '2019Q4', '2020Q1',
             '2020Q2', '2020Q3', '2020Q4', '2021Q1', '2021Q2', '2021Q3',
             '2021Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [40]:
idx[0].start_time                                     # friscal quarterly calendar

Timestamp('2014-11-01 00:00:00')

In [42]:
idx = pd.period_range('2015', periods = 10, freq = 'Q-JAN')
idx

PeriodIndex(['2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1',
             '2017Q2', '2017Q3', '2017Q4', '2018Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [43]:
import numpy as np

ps = pd.Series(np.random.randn(len(idx)), idx)
ps

2015Q4    1.962259
2016Q1   -1.951720
2016Q2   -0.249532
2016Q3    1.839054
2016Q4   -0.213008
2017Q1   -0.007619
2017Q2   -0.134004
2017Q3   -1.799309
2017Q4    0.608435
2018Q1    0.797583
Freq: Q-JAN, dtype: float64

In [44]:
ps.index

PeriodIndex(['2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1',
             '2017Q2', '2017Q3', '2017Q4', '2018Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [46]:
ps['2015']

2015Q4    1.962259
2016Q1   -1.951720
2016Q2   -0.249532
2016Q3    1.839054
2016Q4   -0.213008
Freq: Q-JAN, dtype: float64

In [47]:
pst = ps.to_timestamp()
pst

2014-11-01    1.962259
2015-02-01   -1.951720
2015-05-01   -0.249532
2015-08-01    1.839054
2015-11-01   -0.213008
2016-02-01   -0.007619
2016-05-01   -0.134004
2016-08-01   -1.799309
2016-11-01    0.608435
2017-02-01    0.797583
Freq: QS-NOV, dtype: float64

In [48]:
pst.index

DatetimeIndex(['2014-11-01', '2015-02-01', '2015-05-01', '2015-08-01',
               '2015-11-01', '2016-02-01', '2016-05-01', '2016-08-01',
               '2016-11-01', '2017-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [49]:
import pandas as pd
df = pd.read_csv("E:\\Python\\Python\\pandas\\18_ts_period\\wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [51]:
df.set_index('Line Item', inplace = True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [52]:
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [53]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [54]:
df.index = pd.PeriodIndex(df.index, freq = 'Q-JAN')
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [56]:
df['Start Date'] = df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit start date Start Date
2017Q1      115904     86544   29360 2016-02-01 2016-02-01
2017Q2      120854     89485   31369 2016-05-01 2016-05-01
2017Q3      118179     87484   30695 2016-08-01 2016-08-01
2017Q4      130936     97743   33193 2016-11-01 2016-11-01
2018Q1      117542     87688   29854 2017-02-01 2017-02-01

In [57]:
df['End Date'] = df.index.map(lambda x: x.end_time)
df

Line Item,Revenue,Expenses,Profit,start date,Start Date,End Date
2017Q1,115904,86544,29360,2016-02-01,2016-02-01,2016-04-30 23:59:59.999999999
2017Q2,120854,89485,31369,2016-05-01,2016-05-01,2016-07-31 23:59:59.999999999
2017Q3,118179,87484,30695,2016-08-01,2016-08-01,2016-10-31 23:59:59.999999999
2017Q4,130936,97743,33193,2016-11-01,2016-11-01,2017-01-31 23:59:59.999999999
2018Q1,117542,87688,29854,2017-02-01,2017-02-01,2017-04-30 23:59:59.999999999